body {
    background-color:black;
    color:white;
}


#imagebody{

    
    
}
#mom{
    width:300px;
    text-align:center;
    
}

.sepia {
    
}

#enter{
    color:white;
    font-weight:800px;
    position:relative;
    top:-8px;
}

br{
    color:white;
}
